{% extends "base.html" %}
{% block body %}
<!-- Single News -->
<section class="news-single section ">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="news-body doctor-details-item doctor-details-left">
                    <img src="img/about-img.jpg" alt="#">
                    <div class="doctor-details-item" >
                        <div class="doctor-details-left p-5" style="border-radius: 0px 0px 15px 15px;">
                            <div class="doctor-name">
                                <h3 class="name">Ahmed Mohammed</h3>
                                <p class="deg">Neurosurgeon.</p>
                                <p class="degree">MBBS in Neurology, PHD in Neurosurgeon.</p>
                                <div class="date"><i class="fa-solid fa-star"></i> 4.6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- chat section -->
            <div class="col-lg-8 col-md-12 col-12">
                <div class="news-body doctor-details-item doctor-details-left footer footer-top">
                    <div id="message-container" class="m-4 p-4 chat" style="overflow-y: auto; height: 400px;">  
                        {% for message in messages reversed %}  
                            <!-- from ahmed -->  
                            {% include "chat_message.html" with message=message %}  
                        {% endfor %}  
                    </div>  
                    
                    <div class="single-footer pb-4 px-4">  
                        <form class="newsletter-inner"  
                              hx-post="{% url 'chatting' %}"  
                              hx-target="#message-container"  
                              hx-swap="beforeend"  
                              _="on htmx:beforeSend reset() me">  
                            {% csrf_token %}  
                            {{ form }}  
                            <button type="submit" class="button"><i class="icofont icofont-paper-plane"></i></button>  
                        </form>  
                    </div>  
                    

                </div>
            </div>
            <!-- chat section end -->
            
        </div>
    </div>
</section>
<!--/ End Single News -->
{% endblock body %}

{% block javascript %}
<script>

    function scrollToBottom(time=0) {
        setTimeout(function() {
            const container = document.getElementById('message-container');
            container.scrollTop = container.scrollHeight;
        }, time);
    }
    scrollToBottom()

</script>
{% endblock %}